---

import Event1 from "../../assets/events/event1.jpg";
import Event2 from "../../assets/events/event2.jpg";
import Event3 from "../../assets/events/event3.png";
import Event4 from "../../assets/events/event4.jpg";

const event_images = [Event1, Event2, Event3, Event4]

---

<div class="events-container">

</div>