---

import Events from "./Events.astro"

---

<section class="homepage">
    <Events />
</section>

<style>
    section.homepage {
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content:center;
        align-items:center;
    }

</style>